---
title: Inicio
---
<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image">
				<a href="{{ post.url | relative_url }}">
					<img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
				</a>
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ post.url | relative_url }}">Leer más</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Página anterior</a>
			{% endif %}

			<span class="page_number" style="margin: 0 20px">{{ paginator.page }} de {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Página siguiente &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
