---
title: Recetas
image_view: true
---
<h1>Recetas</h1>

{% if page.image_view %}
	{% assign sorted_categories = site.categories | sort %}
	{% for category in sorted_categories %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			{% assign sorted_recipes = category[1] | sort: "title" %}
			{% for recipe in sorted_recipes %}
				<div class="recipe" style="background-image: url('{{ recipe.image | relative_url }}')">
					<a href="{{ recipe.url | relative_url }}"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}
